body {
    background-image: url('images/b.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#result {
    width: 300px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

img {
    max-width: 100%;
    margin-top: 20px;
}